/* Reset de algunos estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  
}



.content-container {
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#cardDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-bottom: 20px;
  border: 3px solid #ffcb05; /* Borde amarillo */
  flex-direction: column;
  text-align: center;
}

.card-image img {
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-text {
  max-width: 500px;
  margin-bottom: 20px;
}

.card-text h2 {
  font-size: 2.5rem;
  color: #FF0A00; /* Rojo, como las bolas de Pokémon */
  margin-bottom: 10px;
}

.card-text p {
  font-size: 1.3rem;
  margin: 5px 0;
}

.card-text span {
  font-weight: bold;
  color: #3d7dca; /* Azul para los detalles */
}

/* Estilo para los botones */
button.search-button {
  background-color: #FF0A00; /* Rojo, como las bolas de Pokémon */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%; /* Hacer que los botones ocupen todo el ancho posible */
  max-width: 300px; /* Limitar el ancho máximo */
  display: block; /* Alineación vertical */
  text-align: center;
}

button.search-button:hover {
  background-color: #3d7dca; /* Cambia a azul al hacer hover */
  transform: translateY(-5px); /* Efecto de elevación */
}

/* Colocamos los botones al final */
button.search-button:last-of-type {
  margin-bottom: 30px;
}

footer {
  background-color: #333;
 
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
padding-top: 3%;
  
}

footer p {
  color: #3d7dca;
  font-size: 1rem;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  #cardDetails {
    flex-direction: column;
    text-align: center;
  }

  .card-image img {
    max-width: 200px;
  }

  .card-text {
    margin-left: 0;
    text-align: center;
  }

  button.search-button {
    font-size: 1.2rem;
    padding: 12px 25px;
  }
}
